.container-oompa-details {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.container-info {
  max-width: 500px;
  margin: 20px;
}
.container-info h4 {
  font-size: 3rem;
}
.container-info p{
    font-size: 1.2rem;
}
.center-spinner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}